.react-resizable {
  position: relative;
  overflow: visible;
  margin: 0;
  padding: 20px 0 20px 0;
}

figure {
  margin: 0;
}

.image-delete-button, .react-resizable-handle {
  opacity: 0;
}

.react-resizable:hover .image-delete-button, .react-resizable:hover .react-resizable-handle {
  opacity: 1;
}

