.react-resizable {
  position: relative;
  overflow: hidden;
  margin: 0;
}

figure {
  margin: 0;
}

.image-delete-button {
  opacity: 0;
}

.react-resizable:hover .image-delete-button {
  opacity: 1;
}