.card {
  &.basic {
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.8);
    .front {
      padding: 15px;
      background-color: blue;
    }
    .back {
      padding: 15px;
      background-color: green;
    }
  }
}