#tooltip-controls {
  background: rgba(0,0,0,.8);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  padding: 5px 10px;
  border-radius: 5px;
}
#tooltip-controls sub {
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 999;
  bottom: 8px;
  right: 8px;
  color: white;
  font-size: 12px;
}

.ql-bubble .ql-tooltip-arrow {
  border-bottom: 6px solid rgba(0,0,0,.8);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: " ";
  display: block;
  left: 50%;
  margin-left: -6px;
  position: absolute;
  top: -6px;
}

.ql-tooltip {
  transition: top 200ms ease-out,left 200ms ease-out;
}
