.drawer-header {
  background-image: url('/images/admin_bg.jpg');
  background-size: cover;
  background-position: 0% 20%;
  .header-text {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
