$actionSpacing: 8px;

.cover {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1100; /* just above title bar */
  transition: opacity 0.2s ease-in-out;
  opacity: 0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5dc1b2+0,1fbcd2+100 */
  /*background: #5dc1b2; /* Old browsers */
  /*background: -moz-linear-gradient(-45deg, #5dc1b2 0%, #1fbcd2 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(-45deg, #5dc1b2 0%, #1fbcd2 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(135deg, #5dc1b2 0%, #1fbcd2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.fab {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
  flex-direction: row-reverse;
  display: flex;
  .button {
    background: none;
    border: 0px;
    width: 56px;
  }
};

.container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  z-index: 1110;
  .actions {
    position: absolute;
    margin-bottom: 56px + $actionSpacing; // height of fab + action spacing.
    bottom: 0;
    right: 0;

    .action {
      flex-direction: row-reverse;
      display: flex;
      height: 42px;
      padding: $actionSpacing 0;
      text-align: center;
      visibility: hidden;

      .button {
        background: none;
        border: 0px;
        text-align: center;
        width: 56px; // width of fab
        transition: all 120ms ease-in-out;
      }
    }
  }
}

.closed {
  .actions {
    transition: top 0s linear 0.2s;
    .button {
      transform: scale(0, 0);
    }
  }
  .cover {
    opacity: 0;
    transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
  }
}

.opened {
  .fab {
    svg {
      transform: rotate(45deg);
    }
  }
  .container {
    .actions {
      .action {
        visibility: visible;
      }
    }
  }
}