figure {
  margin: 0;

}
.resizable-image {
  display: block;
  padding: 2px;
  border: none;
  background: rgba(0,0,0,0);
  z-index: 10;
}

.resizable-image.left {
  margin: 15px 15px 15px 0;
  float: left;
}

.resizable-image.right {
  margin: 15px 0 15px 15px;
  float: right;
}

.resizable-image.center {
  margin: 15px auto;
}

.resizable-image .image-editor-control {
  opacity: 0;
}

.resizable-image:hover .image-editor-control {
  opacity: 1;
}

.resizable-image.in-focus {
  box-shadow: inset 0 0 0 2px #5890ff;

}

.resizable-image:after {
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}