// Components/Layout/FrontendPage.scss
//

$darkPurple: #3d5afe;

.frontend-page-container {
  padding-top: 56px;
  width: 100%;
  height: calc(100% - 56px);
  &.logged-in {
    height: calc(100% - 112px);
    .page {
      margin-top: 56px;
    }
  }
}

.edit-page-container {
  padding-top: 56px;
  width: 100%;
  height: calc(100% - 112px);
  .admin-edit {
    height: 100%;
    .page-edit {
      height: 100%;
      margin-top: 56px;
    }
  }
}

.grid-tile {
  .background-filler {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  &:hover, &:focus {
    .background-filler {
      background-color: rgba(0,0,0,0.3);
    }
    h4 {
      color: $darkPurple;
    }
  }
}

.full-width {
  width: 100%;
}

.page {
  h1 {
    margin-top: 0;
  }
  .page-title {
    margin-top: 45px;
    margin-bottom: 10px;
  }
  min-height: calc(100% - 35px);
  padding-bottom: 35px;
  overflow: auto;
  .page-content {
    display: block;

    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }

    .ce-element--type-video, iframe {
      margin: 0;
      margin-left: 15px;
      margin-bottom: 15px;
      display: inline-block;
      vertical-align: top;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
.page, .top-nav {
  .align-right {
    float: right;
    margin-left: 15px;
  }
  .align-left {
    float: left;
    margin-right: 15px;
    ~ ul, ~ ol {
      position: relative;
      left: 30px;
    }
  }
  
  .page-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 0;
  }
}

@media (max-width: 900px){
  .page, .top-nav {
    .page-container {
      width: 80%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 500px){
  .page, .top-nav {
    .page-container {
      margin: 0;
      width: inherit;
      padding-left: 15px;
      padding-right: 15px;

      .page-content {
        img {
          width: 100%;
        }
      }
      .page-title {
        margin-top: 15px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .page, .top-nav {
    .page-container {
      width: 80%;
      max-width: 1200px;
    }
  }
}