.frontend-page-container {
  padding-top: 56px;
  width: 100%;
  height: calc(100% - 56px);
  &.logged-in {
    height: calc(100% - 112px);
    .page {
      margin-top: 56px;
    }
  }
}

.edit-page-container {
  padding-top: 56px;
  width: 100%;
  height: calc(100% - 112px);
  .admin-edit {
    height: 100%;
    .page-edit {
      height: 100%;
      margin-top: 56px;
    }
  }
}

.full-width {
  width: 100%;
}

.page {
  min-height: calc(100% - 35px);
  padding-bottom: 35px;
  overflow: auto;
}
.page, .top-nav {
  .align-right {
    float: right;
    margin-left: 15px;
  }
  .align-left {
    float: left;
    margin-right: 15px;
    ~ ul, ~ ol {
      position: relative;
      left: 30px;
    }
  }
  
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .page-container {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 900px){
  .page, .top-nav {
    .page-container {
      width: 80%;
      margin: 0 auto;
    }
  }
}
@media (max-width: 500px){
  .page, .top-nav {
    .page-container {
      width: 96%;
      padding: 15px;
    }
  }
}
@media (min-width: 1000px) {
  .page, .top-nav {
    .page-container {
      width: 980px;
    }
  }
}