.ProseMirror {
}

.ProseMirror-menu {
  background: white;
  color: black;
}

div.ProseMirror-dropdown-menu {
  position: absolute;
  background: white;
  color: black;
  border-radius: 6px;
  border: 1px solid silver;
  padding: 2px 2px;
  z-index: 15;
}

div.ProseMirror-dropdown-menu {
  cursor: pointer;
  padding: 0 1em 0 2px;
}

div.ProseMirror-menubar-inner {
  background: linear-gradient(to bottom, white, #0191C8);
}

div.ProseMirror-menu form {
  background: linear-gradient(to bottom, white, #0191C8);
  width: 300px;
}

div.ProseMirror-menu form select {
  width: 100px;
  background: white;
}

div.ProseMirror-menu input[type = "text"] {
  background: white;
}