/*html {
  font-size: 62.5%;
  background-color: #f7f7f7;
  box-sizing: border-box;
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Lora", Georgia, serif;
  color: #444;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}*/
@font-face {
    font-family: 'alkren';
    src:
        url('../fonts/alkren.ttf') format('truetype'),
        url('../fonts/alkren.woff') format('woff'),
        url('../fonts/alkren.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'alkren' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.a-bold:before {
    content: "\e238";
}
.a-italic:before {
    content: "\e23f";
}
.a-unordered-list:before {
    content: "\e241";
}
.a-ordered-list:before {
    content: "\e242";
}
.a-quote:before {
    content: "\e244";
}
.a-photo:before {
    content: "\e432";
}
.a-menu:before {
    content: "\e8fe";
}
.editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 960px;
  margin: 50px auto;
  padding: 25px;
  font-size: 18px;
}
.editor .paragraph {
  margin-bottom: 2.5rem;
}
.editor blockquote {
  margin-left: 0px;
  padding-left: 21px;
  border-left: 3px solid #444;
}
.editor img {
  max-width: 100%;
}
.toolbar {
  position: absolute;
  z-index: 9999;
  height: 35px;
  cursor: default;
}
.toolbar.side {
  top: -32px;
  left: -48px;
}
.toolbar.image {
  top: 7px;
  left: 50%;
  height: 40px;
  margin-left: -50px;
}
.toolbar.image .toolbar-icons .toolbar-icon {
  width: 40px;
  max-width: 40px;
  color: blue;
}
.toolbar.image .toolbar-icons .toolbar-icon i {
  font-size: 2.3rem;
}
.toolbar .toolbar-icons {
  position: absolute;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #f5f5f5 0%, #ededed 100%);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 0 25px -4px rgba(0, 0, 0, 0.25);
}
.toolbar .toolbar-icons .toolbar-icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 35px;
  max-width: 35px;
  color: #444;
  font-family: 'Roboto';
  font-size: 1.4rem;
  border-bottom: 3px solid #444;
  transition: all 0.15s linear;
  cursor: pointer;
}
.toolbar .toolbar-icons .toolbar-icon:first-child {
  border-bottom-left-radius: 3px;
}
.toolbar .toolbar-icons .toolbar-icon:last-child {
  border-bottom-right-radius: 3px;
}
.toolbar .toolbar-icons .toolbar-icon:hover,
.toolbar .toolbar-icons .toolbar-icon.active {
  color: #c95339;
  border-color: #c95339;
}
.toolbar .toolbar-icons .toolbar-icon:hover i,
.toolbar .toolbar-icons .toolbar-icon.active i {
  color: #c95339;
}
.toolbar .toolbar-icons .toolbar-icon i {
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 1.8rem;
}
.toolbar .toolbar-icons:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  border-top: 5px solid #444;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.side-toolbar {
  position: absolute;
  top: 25px;
  right: 0;
  bottom: 0;
  left: -50px;
  width: 70px;
}
.side-toolbar i {
  margin-right: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  vertical-align: middle;
}
.side-toolbar i.a-menu {
  font-size: 22px;
}
