/* .admin-container {
  padding-top: 56px;
  height: calc(100% - 56px);
  .admin-edit {
    height: 100%;
    .card-edit {
      height: 100%;
    }
  }
}
 */

.admin-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 400px;
  height: 300px;
  position: relative;
  perspective: 500px;
  will-change: transform;
  
  &.basic {
    .front, .back {
      border: 2px solid #e6e6e6;
      background: #252429;
    } 
  }

  &.latin {
    .front {
      background: #ae7959;
    }
    .back {
      background: #0a0a0a;
    }
  }

  .align-right {
    float: right;
    margin-left: 15px;
  }
  .align-left {
    float: left;
    margin-right: 15px;
  }
  
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    overflow: hidden;
  }

  .back {
    transform: rotateY(180deg);
  }

  .umbra,
  .penumbra {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: visible;
  }

  .umbra {
    width: 410px;
    height: 310px;
    top: -5px;
    left: -5px;
    background: url('/images/umbra.svg') center center no-repeat;
    transform: translateY(2px);
    opacity: 0.3;
  }

  .penumbra {
    width: 470px;
    height: 370px;
    top: -35px;
    left: -35px;
    background: url('/images/penumbra.svg') center center no-repeat;
    transform: translateY(2px);
    opacity: 0;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}