html {
  height: 100%;
}

body {
  background-color: #2980b9;
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  min-height: 100%;
  min-width: 360px;
}

h1, h2 {
  font-weight: 300;
}

a {
  color: rgb(255, 152, 0);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 202, 0);
}

.clearfix:after { 
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#base, #context, #app {
  height: 100%;
  min-width: 360px;
}

.drawer-link.link-active {
  color: green;
}

// A container class for !admin pages.
.frontend-container {
  padding-top: 65px;
  margin: 0 auto;
}

.title-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.admin-title {
  font-size: 1.5rem;
  margin: 0;
  flex: 0 1 auto;
  order: 1;
}

.back-btn {
  flex: 0 1 auto;
  order: 2;
  display: block !important;
  line-height: 36px !important;
  height: 42px !important;
  margin: 7px 15px !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

@media (max-width: 900px){
  .frontend-container {
    width: 80%;
  }
}
@media (max-width: 500px){
  .frontend-container {
    width: 96%;
    min-width: 300px;
  }
}
@media (min-width: 901px) {
  .frontend-container {
    width: 980px;
  }
}