.page {
  &.home {
    background-color: rgba(0,0,0,0.8);
    background-image: url('./home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: hue;

    .big-box {
      border: 1px solid white;
      padding: 30px;
      text-align: center;
      margin: 30px auto;
    }
  }
}