.dashboard .user-widget {
  flex: 1 auto;
  max-width: 300px;
}

@media (max-width: 900px){
  .dashboard .user-widget {
    width: 50%;
  }
}
@media (max-width: 500px){
  .dashboard .user-widget {
    width: 100%;
  }
}
@media (min-width: 901px) {
  .dashboard .user-widget {
    width: calc(100%/3);
  }
}