.action-button.index-item-button {
  background: none;
  border: none;
}

.index-list-item {
  .inner-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .action-button-container  {
    position: absolute;
    top: 0;
    right: 4px;
    opacity: 0;
  }

  &:hover {
    .inner-text {
      padding-right: 96px;
    }
    .action-button-container {
      opacity: 1;
    }
  }
}