.f-no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.index-list-item {
  padding: 4px 0;
  border: 1px dotted #bbb;
  .index-list-item {
    padding: 8px;
  }
  .inner-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .action-button-container  {
    position: absolute;
    top: 0;
    right: 4px;
    opacity: 0;
  }

  &:hover {
    .inner-text {
      padding-right: 96px;
    }
    .action-button-container {
      opacity: 1;
    }
  }
}

.nested {
  
}
