.f-no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nested {
  padding: 0;
  transition: padding .2s ease-in-out;
}

.admin-index {
  .index-title {
    font-size: 1.8rem;
    line-height: 56px;
    margin: 0;
    margin-left: 15px;
  }

  .item-list {
    height: calc(100% - 300px);
    max-height: calc(100% - 300px);
    padding-top: 0 !important;
    margin-top: 30px;
    padding-bottom: 0 !important;
    position: absolute;
    min-height: 200px;
    overflow-y: auto;
    .spacer {
      height: 30px;
      display: block;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      margin: 0;
      padding: 0;      
    }
    .root {
      position: relative;
      margin-left: -30px;
      height: calc(100% - 74px);
      max-height: calc(100% - 74px);
      display: block;
    }
  }
  .empty {
    margin-left: 30px;
  }
  &.index-edit {
    .item-list {
      .spacer {
        display: none;
      }
    }
  }
}

.index-edit {
  .unmovable {
    opacity: 0.5;
  }
  .fake-nested {
    padding: 15px 0 0 0;
  }
  .nested {
    &.leaf {
      padding: 15px 0 0 0;
    }
  }
}
.gu-mirror {
  display: none;
}

.index-item {
  .drag-handle {
    cursor: move;
  }
  padding: 0 0 0 30px;
  &.gu-transit {
    opacity: 0.5;
    .list-item {
      border: 1px dotted #3d5afe;
    }
    .nested {
      border: none;
    }
  }
}

.list-item {
  .inner-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .action-button-container  {
    position: absolute;
    top: 0;
    right: 12px;
    opacity: 0;
  }
}

.list-item:hover > .inner-text {
  padding-right: 106px;
}

.list-item:hover > .action-button-container {
  opacity: 1;
}
