body {
  background-color: offwhite;
  font-family: sans-serif;
  margin: 0;
}

.drawer-link.link-active {
  color: green;
}

.page-container {
  padding-top: 65px;
  width: 900px;
  margin: 0 auto;
}