body {
  /*background-color: #1d1f21;*/
  font-family: sans-serif;
  margin: 0;
/*  color: #4CAF50;*/
}

.drawer-link.link-active {
  color: green;
}

.page-container {
  padding-top: 65px;
  width: 900px;
  margin: 0 auto;
}