body {
  background: url('/images/background.jpeg');
  font-family: sans-serif;
  margin: 0;
  color: #fff;
}

.drawer-link.link-active {
  color: green;
}

.page-container {
  padding-top: 65px;
  width: 900px;
  margin: 0 auto;
}