// colors
$red: red;
$lightBlue200: #81D4FA; /* lightBlue200 */
$lightBlue100: #B3E5FC; /* lightBlue100 */
$lightPurple: #536DFE; /* indigoA400 */
$darkPurple: #3d5afe;
$midGrey: #424242;
$darkGrey: #212121;
$lightPrimary: #aab7ff;
$darkPrimary: $darkPurple;
$linkColor: #e6e6e6;

// spacing
$actionSpacing: 8px;