@import "../../variables.scss";

.breadcrumb-links {
  background-color: $midGrey;
  height: 30px;
  margin-top: -1px;

  .breadcrumb-divider {
    margin-left: 3px;
    margin-right: 3px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.0;
  }
  .breadcrumb-link {
    color: #e6e6e6;
    font-weight: 400;
  }

  .breadcrumb-link-container {
    color: $darkPrimary;

    .breadcrumb-link {
      text-shadow: inherit;
      margin: 0 0.2rem;
      &.active, &:hover, &:focus {
        color: #fff;
        padding-bottom: 0;
        border-bottom: 2px solid $darkPrimary;
      }
    }
  }
}