.top-nav {
  position: fixed;
  height: 56px;
  width: 100%;
  background-color: #212121;
  z-index: 100;
  margin: 0;
  padding: 0;
  
  .page-container {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    .nav-links-container {
      display: flex;
      align-items: flex-start;
      margin-left: 1.0rem;

      .top-link {
        color: #e6e6e6;
        font-weight: 400;
        max-width: 140px;
        text-decoration: none;
        color: #e6e6e6;
        padding: 0 0.5rem;

        &:hover, &:focus {
          color: #fff;
          svg {
            fill: green; 
          }
        }
      }
    }

    .site-title, .top-link {
      display: flex;
      align-items: flex-start;
    }
    .site-title {
      margin: 0;
    }
  }
}