.top-nav {
  position: fixed;
  height: 56px;
  width: 100%;
  background-color: #607D8B;
  z-index: 100;
  .top-link {
    color: #e6e6e6;
    display: inline-block;
    &:hover {
      color: #fff;
    }
  }
}